<div class="panel panel-default">  
<div class="panel-heading">
  <h3>Nuevo Post</h3>

		<%= render 'form', post: @post %>

		<div class="panel-footer">
			<%= link_to 'Regresar', posts_path %>
		</div>
	</div>
</div>