// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#postdiv{
	margin: 0 auto;
	padding: 5px;
	clear: both;
	  
}

.box{
	margin: 2px !important;
	max-width: 350px;
	opacity: .9;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
.box:hover{
	opacity: 1;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
       -o-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}
.box img{
	width: 100%;
}



/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }

.grid-item {
  float: left;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}



/*

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

*/