<!-- Aside -->
<aside id="extra-content">
	<h3 class="text-info"><small><i class="fa fa-star"></i><span style="vertical-align: middle;"></span></small> Sitios útiles</h3>
	<ul>
		<a href="http://github.com" target="_blank"><li>github.com</li></a>
		<a><li>stackoverflow.com</li></a>
        <a><li>chachigonzales.com</li></a>
        <a><li>jquery-plugins.net/</li></a>
		<a><li>codyhouse.com</li></a>
		<a><li>dlvngn.com</li></a>
		<br />
	</ul>
	
	<!-- Últimos Artículos -->
	<section>
		<h3>Últimos artículos</h3>
		<ul>
		<!--% @pins.latest do |pin| %>
			<li><!%= pin.description %></li>
		<!% end %-->
		</ul>
		<p>
		Obtengo de la db los últimos titulos de artículos y un poco de su texto, por quien fue
		creado, la fecha, likes, comentarios, etc...
		</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>
		Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	<!-- /Últimos Artículos -->
	</section>
	
	<!-- Contenido por Carpetas -->
	<section id="categorias">
		<h3>Contenido por carpetas</h3>
		<p>
		aqui metere alguna estupidez
		</p>
	<!-- /Contenido por Categorías -->
	</section>
	
	<!-- Redes Sociales -->
	<section>
		<h3>Redes Sociales</h3>
		<p>
		¡Dale like a mi página en Facebook y sígueme en Twitah! (publico pura pendejada xD) ¡No te arrepentirás!
		</p>
		
		<div class="center">
			
		<!-- Botones Twitter -->
		<a href="https://twitter.com/intent/tweet?screen_name=DLVNGN_" class="twitter-mention-button" data-show-count="false">Tweet to @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		<a href="https://twitter.com/DLVNGN_" class="twitter-follow-button" data-lang="es"  data-show-count="false">Follow @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<% if current_page?(inicio_path) %>
			<!-- Timeline Twitter -->
			<a class="twitter-timeline"  data-chrome="nofooter"  width="100%" height="1000" href="https://twitter.com/DLVNGN_">Tweets by DLVNGN_</a> 
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			<!-- Termina Timeline Twitter -->
		<% end %>
		<div class="row">
		<script src="https://apis.google.com/js/platform.js"></script>
		<script>
			function onYtEvent(payload) {
			if (payload.eventType == 'subscribe') {
					// Add code to handle subscribe event.
				} else if (payload.eventType == 'unsubscribe') {
					// Add code to handle unsubscribe event.
				}
				if (window.console) { // for debugging only
					window.console.log('YT event: ', payload);
				}
			}
		</script>
		<!-- Suscribir Youtube -->
		<div class="g-ytsubscribe" data-channel="codebots.net" data-channelid="UC5poNV3aRdiGSA205v4o9jQ" data-layout="default" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>
		<!-- Video Nuevo Youtube -->
		</div>
		<iframe width="90%" height="315" style="margin-left:5%" src="https://www.youtube.com/embed/1UICdINzlXk" frameborder="0" allowfullscreen></iframe>
		</div>                    
	<!-- /Redes Sociales -->
	</section>
<!-- Aside -->
</aside>