<!-- Footer --> 
        <footer>
			<!-- Primer Footer -->
            <div class="container-fluid padd">
				<!-- Fila p/Headers -->
                <div class="row">
                    <section class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1  col-sm-offset-0  col-lg-offset-1">
                        <h3 style="text-align:center;"><i class="fa fa-tag"></i> Etiquetas</h3>
                    </section>
                    <section class="hidden-xs col-xs-12 col-sm-6 col-md-5 col-md-offset-1  col-sm-offset-0  col-lg-offset-0">
                        <h3 style="text-align:center;"><i class="fa fa-diamond"></i> Mejores Artículos</h3>
                    </section>
				<!-- /Fila p/Headers -->
                </div>
				
				<!-- Fila p/Contenido -->
                <div class="row">
					<!-- Categorías de Footer -->
					<section id="categorias" class="row col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-sm-offset-0  col-xs-offset-0">
						<section class="col-xs-3 col-sm-3 col-md-4">
							<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
								<li><a class="fsNon tag" href="#">Node.js</a></li>
								<li><a class="fsPair tag" href="#">PHP5 it's the shit!</a></li>
								<li><a class="fsNon" href="#">ZanPHP</a></li>
								<li><a class="fsPair" href="#">Ruby On Rails</a></li>
								<li><a class="fsNon" href="#">Kendall Jenner</a></li>
								<li><a class="fsPair" href="#">SQL</a></li>
								<li><a class="fsNon" href="#">C++</a></li>
								<li><a class="fsPair" href="#">MySql</a></li>
								<li><a class="fsNon" href="#">PhPMyAdmin</a></li>
							</ul>
						</section>
						<section class="col-xs-3 col-sm-3 col-md-4">
							<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
								<li><a class="fsPair" href="#">Javascript</a></li>
								<li><a class="fsNon" href="#">Ubuntu</a></li>
								<li><a class="fsPair" href="#">Jessica Nigri</a></li>
								<li><a class="fsNon" href="#">Phyton</a></li>
								<li><a class="fsPair" href="#">Linux</a></li>
								<li><a class="fsNon" href="#">C#</a></li>
								<li><a class="fsPair" href="#">PHP5</a></li>
								<li><a class="fsNon" href="#">jQuery</a></li>
								<li><a class="fsPair" href="#">Android</a></li>
							</ul>
						</section>
						<section class="col-xs-3 col-sm-3 col-md-4">
							<ul class="visible-lg-inline-block visible-md-inline-block visible-sm-inline-block visible-xs-inline-block">
								<li><a class="fsNon" href="#">PS4</a></li>
								<li><a class="fsPair" href="#">Testing</a></li>
								<li><a class="fsNon" href="#">Codeigniter</a></li>
								<li><a class="fsPair" href="#">JAVA</a></li>
								<li><a class="fsNon" href="#">GTAV</a></li>
								<li><a class="fsPair" href="#">IOS</a></li>
								<li><a class="fsNon" href="#">Games</a></li>
								<li><a class="fsPair" href="#">Kendall Jenner</a></li>
								<li><a class="fsNon" href="#">HHI 2013</a></li>
							</ul>
						</section>
					<!-- /Categorías de Footer -->
					</section>

					<!-- Sección de  Mejores Post SM MD LG-->
					<section class="hidden-xs row col-sm-6 col-md-5 col-md-offset-0">
							<div class="col-md-6 col-md-offset-0 col-sm-offset-0  col-lg-offset-0">
								<a href="#"><h5><i class="fa fa-comments-o"></i> Comparar imágenes con JuxtaposeJS</h5></a>
								<q>Si te gusta realizar comparaciones entre imágenes, ¡esta librería es perfecta para tí! Con Juxtapos...</q>
							</div>
							<div class="col-md-6">
								<a href="#"><h5><i class="fa fa-comments-o"></i> 1a App con Ruby on Rails</h5></a>
								<q>Ruby on Rails es un popular Framework para el Desarrollo de aplicaiones web, el cual está diseñado...</q>
							</div>
							
							<div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
							
							<div class="col-md-6 col-md-offset-0 col-sm-offset-0  col-lg-offset-0">
								<a href="#"><h5><i class="fa fa-comments-o"></i> CRUD Web con JAVA</h5></a>
								<q>Aprende a crear un sencillo CRUD utilizando el framework Primefaces en su versión 5.0. Es realmente...</q>
							</div>
							<div class="col-md-6">
								<a href="#"><h5><i class="fa fa-comments-o"></i> Pruebas de Softwre</h5></a>
								<q>En México, cada vez las Pruebas de Software están tomando más importancia dentro de las empresas ...</q>
							</div>
					<!-- /Sección de Mejores Post -->
					</section>
				<!-- /Fila p/Contenido -->
				</div>

				<!--  -->
                <div class="row visible-xs">
                    <section class="col-md-12">
                        <h3 style="text-align:center;"><i class="fa fa-diamond"></i> Mejores Atículos</h3>
                    </section>
				<!--  -->
                </div>
				
				<!-- Sección de  Mejores Post XS-->
					<section class="visible-xs">
						<div class="row ">
							<div class="col-xs-5 col-xs-offset-1">
								<a href="#"><h5><i class="fa fa-comments-o"></i> Comparar imágenes con JuxtaposeJS</h5></a>
								<q>Si te gusta realizar comparaciones entre imágenes, ¡esta librería es perfecta para tí! Con Juxtapos...</q>
							</div>
							<div class="col-xs-5">
								<a href="#"><h5><i class="fa fa-comments-o"></i> 1a App con Ruby on Rails</h5></a>
								<q>Ruby on Rails es un popular Framework para el Desarrollo de aplicaiones web, el cual está diseñado...</q>
							</div>
							
							<div class="clearfix visible-xs-block"></div>
							
							<div class="col-xs-5 col-xs-offset-1">
								<a href="#"><h5><i class="fa fa-comments-o"></i> CRUD Web con JAVA</h5></a>
								<q>Aprende a crear un sencillo CRUD utilizando el framework Primefaces en su versión 5.0. Es realmente...</q>
							</div>
							<div class="col-xs-5">
								<a href="#"><h5><i class="fa fa-comments-o"></i> Pruebas de Softwre</h5></a>
								<q>En México, cada vez las Pruebas de Software están tomando más importancia dentro de las empresas ...</q>
							</div>
						</div>
					<!-- /Sección de Mejores Post -->
					</section>
                
				<!-- Sección XS de Redes Sociales -->
                <div class="content row visible-xs">
                    <div class="col-md-6 col-md-offset-3">
						<h3><i class="fa fa-thumbs-o-up"></i> Redes Sociales</h3>
						<p>
						¡Dale like a mi página en Facebook y sígueme en Twitah! (publico pura pendejada xD) ¡No te arrepentirás!
						</p>
						
						<!-- Botones Twitter -->
						<a href="https://twitter.com/intent/tweet?screen_name=DLVNGN_" class="twitter-mention-button" data-show-count="false">Tweet to @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<a href="https://twitter.com/DLVNGN_" class="twitter-follow-button" data-lang="es"  data-show-count="false">Follow @DLVNGN_</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

						<div class="row">
							<script src="https://apis.google.com/js/platform.js"></script>
							<script>
								function onYtEvent(payload) {
								if (payload.eventType == 'subscribe') {
										// Add code to handle subscribe event.
									} else if (payload.eventType == 'unsubscribe') {
										// Add code to handle unsubscribe event.
									}
									if (window.console) { // for debugging only
										window.console.log('YT event: ', payload);
									}
								}
							</script>
							<!-- Suscribir Youtube -->
							<div class="g-ytsubscribe" data-channel="codebots.net" data-channelid="UC5poNV3aRdiGSA205v4o9jQ" data-layout="default" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>
							<!-- Video Nuevo Youtube -->
							<iframe width="90%" height="315" style="margin-left:5%" src="https://www.youtube.com/embed/1UICdINzlXk" frameborder="0" allowfullscreen></iframe>
						</div>              
					</div>
				<!-- /Sección XS de Redes Sociales -->	
				</div>
				
				<!-- Sección Games -->
				<div class="content row visible-xs visible-sm">
						<div class="col-lg-12">
							<h3>¡El juego del Mes!</h3>
						</div>
						<div class="content col-md-6">
							<p>Dragon Ball Xenoverse 2 es el juego perfecto si eres fan de la saga:</p>
							<ul>
								<li><strong>Todas las batallas de DG, DBZ y DBGT</strong>
								</li>
								<li>Historias alternas a las del anime</li>
								<li>Nuevo modo de combate</li>
								<li>DLC's gratis los dos primeros meses</li>
								<li>¡La saga de Black como contenido descargable en Diciembre!</li>
								<li>+40 personajes jugables</li>
							</ul>
							<p>Ningún juego de Dragon Ball ha tenido tantos elementos que a los fans de unos de los ánimes más aclamados por el público les encanta. Consíguelo en los siguientes links: <a href="#">GamePlanet</a>, <a href="#">Gamers</a></p>
						</div>
						<div class="col-md-6">
							<%= image_tag("goku f4 veneta ssb.jpg", :alt => "Goku-Vegeta", class: "img-responsive img-portfolio img-hover", :style => "width:100%;") %>
						</div>
				<!-- /Sección Games -->        
				</div>
			<!-- /Primer Footer -->
            </div>

			
			<!-- Segundo Footer -->
			
				<div class="container-fluid blk-footer">					
					<div class="col-md-8 col-md-offset-2">
						<p class="u-mt2 u-mb3">Copyright &copy; 2016, Codebots.net / Rubinmz.com Todos los Derechos Reservados.</p>
						<p>Al usar este sitio, usted acepta nuestros <a href="/company/terms-of-use">términos de uso </a>  y nuestra  <a href="/company/privacy-policy">Política de Privacidad</a>.
						Codebots.net ® es una marca registrada, una organización sin ánimo de lucro. Si quieres saber más sobre este sitio, haz clic en el enlace <a href="acerca.html">Acerca de mí</a>. También no olvides darte una vuelta por las otras redes sociales y gracias por el apoyo. Dejame tus <a href="/company/feedback">Comentarios</a>.
                        </p> 
						<div class="Footer-social">
							<%= link_to raw('<i class="icon-2x fa fa-facebook-official"></i>'), "https://www.facebook.com/codebots.net/" %>&nbsp;
						  <a href="https://twitter.com/DLVNGN_" target="_blank"><i class="icon-2x fa fa-twitter"></i></a>&nbsp;
						  <a href="https://mx.linkedin.com/in/m-jafet-zárate-a5a5207a" target="_blank"><i class="icon-2x fa fa-linkedin"></i></a>&nbsp;
						  <a href="https://www.youtube.com/channel/UCeZpdVQhMDr_xOicmebEZew" target="_blank"><i class="icon-2x fa fa-youtube"></i></a>&nbsp;
						  <a href="https://github.com/codebotz" target="_blank"><i class="icon-2x fa fa-github-alt"></a></i>&nbsp;
						</div>
					</div>
				</div>
			
        </footer>
